In [1]:
import pandas as pd
import math
import string
from io import StringIO

In [2]:
data = 'Airline Code;DelayTimes;FlightCodes;To_From\nAir Canada (!);[21, 40];20015.0;WAterLoo_NEWYork\n<Air France> (12);[];;Montreal_TORONTO\n(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa\n12. Air France;[78, 66];;Ottawa_VANcouvER\n""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal\n'

In [3]:
df = pd.read_csv(StringIO(data), lineterminator="\n", delimiter=";")
df['FlightCodes'] = pd.to_numeric(df['FlightCodes'])

df

         Airline Code    DelayTimes  FlightCodes           To_From
0      Air Canada (!)      [21, 40]      20015.0  WAterLoo_NEWYork
1   <Air France> (12)            []          NaN  Montreal_TORONTO
2  (Porter Airways. )  [60, 22, 87]      20035.0    CALgary_Ottawa
3      12. Air France      [78, 66]          NaN  Ottawa_VANcouvER
4   ".\.Lufthansa.\."      [12, 33]      20055.0   london_MONTreal

In [4]:
df['FlightCodes'] = df['FlightCodes'].interpolate()
df['FlightCodes'] = df['FlightCodes'].astype(int)
df

         Airline Code    DelayTimes  FlightCodes           To_From
0      Air Canada (!)      [21, 40]        20015  WAterLoo_NEWYork
1   <Air France> (12)            []        20025  Montreal_TORONTO
2  (Porter Airways. )  [60, 22, 87]        20035    CALgary_Ottawa
3      12. Air France      [78, 66]        20045  Ottawa_VANcouvER
4   ".\.Lufthansa.\."      [12, 33]        20055   london_MONTreal

In [5]:
to_col = []
from_col = []

for to_from in df['To_From']:
    print(to_from)
    to_col.append(to_from.split("_")[0].upper())
    from_col.append(to_from.split("_")[1].upper())

df['To'] = to_col
df['From'] = from_col
df = df.drop('To_From', axis = 1)
df

WAterLoo_NEWYork
Montreal_TORONTO
CALgary_Ottawa
Ottawa_VANcouvER
london_MONTreal

         Airline Code    DelayTimes  FlightCodes        To       From
0      Air Canada (!)      [21, 40]        20015  WATERLOO    NEWYORK
1   <Air France> (12)            []        20025  MONTREAL    TORONTO
2  (Porter Airways. )  [60, 22, 87]        20035   CALGARY     OTTAWA
3      12. Air France      [78, 66]        20045    OTTAWA  VANCOUVER
4   ".\.Lufthansa.\."      [12, 33]        20055    LONDON   MONTREAL

In [6]:
for code in df['Airline Code']:
    df = df.replace(code, code.translate(str.maketrans('', '', string.punctuation)))

df

      Airline Code    DelayTimes  FlightCodes        To       From
0      Air Canada       [21, 40]        20015  WATERLOO    NEWYORK
1    Air France 12            []        20025  MONTREAL    TORONTO
2  Porter Airways   [60, 22, 87]        20035   CALGARY     OTTAWA
3    12 Air France      [78, 66]        20045    OTTAWA  VANCOUVER
4        Lufthansa      [12, 33]        20055    LONDON   MONTREAL

In [7]:
df.to_csv("cleaned_data.csv", line_terminator="\n")